#page-title{
  display: inline-block;
  text-align: left;
  margin: 0;
}

#github-link:hover{
  color: black;
  text-decoration: none;
}

#github-link{
  color: black;
}

.fa-github:hover{
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
  transition-duration: .5s;
}

.fa-github{
  margin-top: 15px;
  padding: 5px;
}

textarea{
  resize: none;
}

#result-panel{
  background-color: rgb(38, 39, 33);
}

.code-white{
  color: #f8f8f2;
}

.code-red{
  color: #f92672;
}

.code-green{
  color: #a6e22e;
}

.code-purple{
  color: #ae81ff;
}

.code-yellow{
  color: #ffe792;
}

#db-bt{
  border-width: 0 1px 0 0;
  border-color: black;
  border-style: solid;
}

#footer{
  margin: 0;
  background-color: rgb(38, 39, 33);
}

#contact-link{
  color: white;
  margin: 0 5px 0 5px;
}

#contact-row{
  color: white;
}

#hm-pk, #hm-ref-model-name, #hm-fk{
  background-color: gray;
}